
@{
    ViewData["View"] = "Whooop";
}

<h1>User</h1>
<p>I GOT CALLED</p>
<form method="get">
    <input type="text" name="Sevice" />
    <input type="submit" value="Wiiin" asp-controller="Home" asp-action="Index" />
</form>

